---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import ProductCards from "../components/ProductCards.astro";
import CyberBytes from "../components/CyberBytes.astro";
import WhyAspiron from "../components/WhyAspiron.astro";
import Testimonials from "../components/Testimonials.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main class="overflow-clip">
    <Hero />
    <ProductCards />
    <CyberBytes />
    <WhyAspiron />
    <Testimonials />
  </main>
  <Footer />
</Layout>
